{% set galera_hosts = vars['groups']['galera'] %}

{% set current_host_index = galera_hosts.index(inventory_hostname) %}

{# start of file #}
{#galera config master#}
[galera]
wsrep_on                 = ON
wsrep_cluster_name       = "MariaDB Galera Cluster"
wsrep_provider           = /usr/lib/galera/libgalera_smm.so
wsrep_cluster_address    = "gcomm://"
binlog_format            = row
default_storage_engine   = InnoDB
innodb_autoinc_lock_mode = 2
bind-address = 0.0.0.0
wsrep_node_address="{{ galera_hosts_short_names[current_host_index] }}"
